<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Logo y descripción -->
            <div class="col-md-3">
                <div class="logo-footer">
                    <img src="https://t4.ftcdn.net/jpg/04/13/20/97/360_F_413209771_ZA2YI8qDK721nma8N5erkn5OIzct6hPW.jpg" alt="KCR Courier logo">
                    <h5 class="footer-title">RapiExpress Courier</h5>
                </div>
                <p>Con más de 10 años en el mercado garantizamos la calidad de nuestros servicios y productos, asegura tu inversión con nosotros.</p>
                <h6>Síguenos:</h6>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <!-- Nuestros Servicios -->
            <div class="col-md-3">
                <h5 class="footer-title">Nuestros Servicios:</h5>
                <ul class="list-unstyled">
                    <li><a href="#">RPE AFiliados</a></li>
                    <li><a href="#">RPE Eventos</a></li>
                    <li><a href="#">RPE Hoy Express</a></li>
                    <li><a href="#">RPE Compras</a></li>
                    <li><a href="#">RPE Super Express</a></li>
                    <li><a href="#">RPE Trámite</a></li>
                </ul>
            </div>

            <!-- Transparencia -->
            <div class="col-md-3">
                <h5 class="footer-title">Transparencia:</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Políticas y Cookies</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                    <li><a href="#">Libro de Reclamaciones</a></li>
                </ul>
            </div>

            <!-- Contacto -->
            <div class="col-md-3">
                <h5 class="footer-title">Contacto:</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone"></i> Teléfono: (01) 6225682</li>
                    <li><i class="fas fa-mobile-alt"></i> Celular: +51 952 782 000</li>
                    <li><i class="fas fa-map-marker-alt"></i> Dirección: Av. Fray Bartolomé de las Casas 250 Urb. Los Jardines San Martín de Porres</li>
                    <li><i class="fas fa-envelope"></i> Correo: <a href="mailto:informes@kcrcourier.pe">informes.pe</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
